body { background-color: powderblue;
}
h1 {
color: blue;
font-family: verdana;
font-size: 300%;
}
p {
color: red;
font-family: courier;
font-size: 160%;
}
h2 { color: blue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font: 200;}